*{
    margin: 0%;
    padding: 0%;
}

.hidden {
    display: none;
}

#messageBoxContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

#myButton {
margin-left: 45%;
margin-top: 20%;
}